<!DOCTYPE html>
<html>
  <head>
  	<title>Sesión y CRUD con Nodejs y MongoDb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">

  <body class="fondo_negro">
<!--Navbar-->
<div class="page">
  
    <!-- NAVIGATION -->
  <nav id="colorlib-main-nav" role="navigation">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
      <div class="js-fullheight colorlib-table">
        <div class="img" style="background-image: url(images/bg_3.jpg);"></div>
        <div class="colorlib-table-cell js-fullheight">
          <div class="row no-gutters">
            <div class="col-md-12 text-center">
              <h1 class="mb-4"><a href="/" class="logo">Sesión y CRUD Nodejs Y Mongodb</a></h1>
              <ul>
                <% if (!user) { %>
                  <li class="active"><a class="nav-link" href="/signin">Signin <span class="sr-only">(current)</span></a>></li>
                  <li><a class="nav-link" href="/signup">Signup</a></li>
                  <% } else { %>
                  <li class="active"><a class="nav-link" href="/asignaturas">Asignaturas<span class="sr-only">(current)</span></a></li>
                  <li> <a class="nav-link" href="/profile">Perfil <%=user.email%></a></li>
                  <li><a class="nav-link disabled" href="/logout">Log out</a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div id="colorlib-page">
      <header>
      	<div class="container">
	        <div class="colorlib-navbar-brand">
	          <a class="colorlib-logo" href="/signin">Sesión y CRUD Nodejs Y Mongodb</a>
	        </div>
	        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        </div>
      </header>
    </div>
</div>








 
