<% include ../partials/_header %>

<div class="container centrado">
    <div class="row mar_carta">
        <!--FORM-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body m-4">
                    <h2>Buzón de Sugerencias</h2>
                    <form action="" method="post" class="mt-5">
                        <div class="form-group">
                            <label for="sugerencia">Sugerencia:</label>
                            <textarea class="form-control" id="sugerencia" name="sugerencia" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/_footer %>