<% include partials/_header %>

  <div class="container centrado_total">
    <div class="row mar_carta">
      <!--FORM-->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form action="/usuarios/add" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="apellidos" placeholder="apellidos">
              </div>
              <div class="form-group">
                <select name="rol" class="form-control" type="select">
                  <option selected></option>
                  <option value="Administrador">Administrador</option>
                  <option value="Profesor" selected>Profesor</option>
                  <option value="Alumno">Alumno</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="password" required>
              </div>
              <div class="form-group">
                <label for="asignaturas">Asignaturas</label>
                <select name="asignaturas" id="asignaturas" class="form-control" multiple>
                  <% for(var i=0; i < asignaturas.length; i++) { %>
                    <option value="<%= asignaturas[i]._id %>">
                      <%= asignaturas[i].nombre %>
                    </option>
                    <% } %>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>    

<% include partials/_footer %>