<% include partials/_header %>
<div class="container centrado_total">
    <!--FORM-->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form
            action="/asignaturas/miasignatura/<%= asignatura.id %>/<%= index %>"
            method="post"
          >
            <div class="form-group">
              <label class="">Software</label>
              <input
                class="form-control"
                type="url"
                name="software"
                placeholder="Introduce URL"
              />
            </div>
            <button class="btn btn-primary" type="submit">edit</button>
          </form>
        </div>
      </div>
    </div>
</div>
<% include partials/_footer %>
