<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sesión y CRUD con Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
  </head>
  <body>
    <section class="vh-100 centrado_total">
      <div class="container py-5 h-100 pt-5">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img
              src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
              class="img-fluid"
              alt="Phone image"
              style="border-radius: 15px"
            />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form action="/signin" method="POST">
              <!-- Email input -->
              <div class="form-outline mb-4 pt-5">
                <input
                  type="email"
                  id="form1Example13"
                  name="email"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example13"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form1Example23"
                  name="password"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example23">Password</label>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block"
                style="background-color: #5d6d7e"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%if (signinMessage == "Incorrect Password" || signinMessage == "No User Found") {%>
      <div id="password" class="card centrado_total error">
        <div class="card-body m-4">
            <h2>Usuario o contraseña incorrecta</h2>
            <button
                type="submit"
                class="btn btn-danger btn-lg btn-block"
                onclick="nonepasswordmensaje()">
                OK
              </button>
        </div>
      </div>
    <% } %>

<% include partials/_footer %>

