<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/usuarios/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="apellidos" placeholder="apellidos">
            </div>
            <div class="form-group">
             
                <select name="rol" class="form-control" type="select">
                  <option value="Administrador">Administrador</option>
                  <option value="Profesor" selected>Profesor</option>
                  <option value="Alumno">Alumno</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="asignaturas" placeholder="asignaturas">
            </div>
            
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    
  </div>

</div>

<% include partials/_footer %>
