h1 .error{
  text-align: center;
  color:red;
}

p .msing{
  color:red;
}

.fondo_negro{
  background: rgb(32, 32, 32);
}

.color-primario{
  background-color: #5499c7;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.caret {
  display: none;
}
.btn-group .multiselect {
  border: 1px solid #ced4da;
}