h1 .error{
  text-align: center;
  color:red;
}

p .msing{
  color:red;
}

.fondo_negro{
  background: rgb(32, 32, 32);
}
.fondo_gris{
  background-color: #c2c2c2;
}
.color-primario{
  background-color: #5499c7;
}
.fondo_blanco{
  background-color: white;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.caret {
  display: none;
}
.btn-group .multiselect {
  border: 1px solid #ced4da;
}

.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centrado_total{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th{
  text-align: center;
}
table,
table-bordered{
  border-radius: 10px;
}

.max_width{
  max-width: 100%;
}

@media (min-width: 992px){
  .mar_carta{
    margin-left: 15%;
    margin-right: 15%;
  }
}
