<% include ../partials/_header %>

<div class="container centrado_total">
    <div class="row mar_carta">
      <% if (user.rol == "Administrador" ) { %>
        <!--FORM-->
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form action="/asignaturas/add" method="post">
                <div class="form-group pb-2">
                  <input class="form-control " required type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input class="form-control" required type="text" name="planEstudios" placeholder="Plan de estudio">
                </div>
                <div class="form-group">
                  <input class="form-control" required type="number" name="cuatrimestre" placeholder="Cuatrimestre">
                </div>
                <div class="form-group">
                  <input class="form-control" required type="number" name="curso" placeholder="Curso">
                </div>
                <div class="form-group">
                  <input class="form-control" required type="text" name="software" placeholder="Software">
                </div>
                

                <button class="btn btn-primary" type="submit">
                  Add
                </button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
    </div>
</div>

<% include ../partials/_footer %>