<% include ../partials/_header %>

<div class="container centrado_total">
    <div class="row mar_carta">
      <% if (user.rol == "Administrador" ) { %>
        <!--FORM-->
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form action="/asignaturas/add" method="post">
                <div class="form-group pb-2">
                  <input class="form-control " required type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <label for="planEstudios">Planes de estudio</label>
                  <select name="planEstudios" id="planEstudios" class="form-control">
                      <option value="grado">Grado</option>
                      <option value="master">Master</option>
                      <option value="doctorado">Doctorado</option>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" required type="number" name="cuatrimestre" placeholder="Cuatrimestre">
                </div>
                <div class="form-group">
                  <input class="form-control" required type="number" name="curso" placeholder="Curso">
                </div>
                <button class="btn btn-primary" type="submit">
                  Add
                </button>
              </form>
              <form action='/asignaturas/addAsignaturaCSV' method="POST" enctype="multipart/form-data"> 
                <input type="file" name="file"> 
                <button class="btn btn-primary" type="submit">
                  Agregar por CSV
                </button>
              </form> 
            </div>
          </div>
        </div>
        <% } %>
    </div>
</div>

<% include ../partials/_footer %>