<% include ../partials/_header %>
  <div class="container centrado_total">
    <div class="row mar_carta">
      <!--FORM-->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
                <form action="/asignaturas/edit/<%= asignatura._id %>" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" name="nombre" value="<%= asignatura.nombre %>">
                </div>
                <div class="form-group">
                  <label for="planEstudios">Planes de estudio</label>
                  <select name="planEstudios" id="planEstudios" class="form-control" required>
                    <option  value="" hidden selected>Plan de estudio</option>
                      <option value="grado">Grado</option>
                      <option value="master">Master</option>
                      <option value="doctorado">Doctorado</option>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" name="cuatrimestre" value="<%= asignatura.cuatrimestre %>">
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" name="curso" value="<%= asignatura.curso %>">
                </div>
                <button class="btn btn-primary" type="submit">
                  Update
                </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <% include ../partials/_footer%>